<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/todo/new" method="post">
    <div class="form-group">
      <label for="user">사용자명</label>
      <input type="text" id="user" name="user" placeholder="사용자명을 입력하세요">
    </div>

    <div class="form-group">
      <label for="name">활동명</label>
      <input type="text" id="name" name="name" placeholder="활동명을 입력하세요">
    </div>

    <div class="form-group">
      <label for="date">날짜시간</label>
      <input type="text" id="date" name="date" placeholder="날짜시간을 입력하세요">
    </div>

    <div class="form-group">
      <label for="category">카테고리</label>
      <input type="text" id="category" name="category" placeholder="카테고리를 입력하세요">
    </div>

    <div class="form-group">
      <label for="content">세부사항</label>
      <input type="text" id="content" name="content" placeholder="위치, 링크 등의 세부사항을 입력하세요">
    </div>

    <button type="submit">등록</button> </form>
</div> <!-- /container -->
</body>
</html>