<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>사용자명</th>
        <th>활동명</th>
        <th>날짜시간</th>
        <th>카테고리</th>
        <th>세부사항</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.user}"></td>
        <td th:text="${todo.name}"></td>
        <td th:text="${todo.date}"></td>
        <td th:text="${todo.category}"></td>
        <td th:text="${todo.content}"></td>
        <td>
          <a href="#" th:href="@{/todo/{id} (id=${todo.id})}" class="btn btn-primary" role="button">수정하기</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>