<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="user">사용자명</label>
            <input type="text" th:field="*{user}" class="form-control" placeholder="사용자명을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="name">활동명</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="활동명을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="date">날짜시간</label>
            <input type="text" th:field="*{date}" class="form-control" placeholder="날짜시간을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="category">카테고리</label>
                <input type="text" th:field="*{category}" class="form-control" placeholder="카테고리를 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="content">세부사항</label>
            <input type="text" th:field="*{content}" class="form-control" placeholder="위치, 링크 등의 세부사항을 입력하세요" />
        </div>
        <button type="submit" class="btn btn-primary">수정하기</button>
    </form>
</div> <!-- /container -->
</body>
</html>